<ax-control title="Only numbers">
  <input [(ngModel)]="modelNumber" placeholder="Enter number" required numberValidator>
  <validation when="required">Required</validation>
  <validation when="numberValidator">Input should be a number</validation>
</ax-control>

<ax-control title="Only letters">
  <input [(ngModel)]="modelLetters" placeholder="Enter letters" required lettersValidator>
  <validation when="required">Required</validation>
  <validation when="lettersValidator">Only english letters and spaces allowed</validation>
</ax-control>

<ax-control title="Disabled">
  <input [(ngModel)]="disabledModel" placeholder="Placeholder" disabled>
</ax-control>
